body {
    text-align: center;
}

h1 {
    border-radius: 50px;
    font-family: verdana;
}

.regform {
    margin: 5%;
}

div {
    padding-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 250px;
}

button {
    background-color: green;
    border-radius: 25px;
    height: 40px;
    width: 100px;
}
.regform
{
    width: 750px;
    margin: auto;
    background-color: azure;
    border-radius: 5px;
    padding-top: 20px;
}